<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 <style>

     html{
         background-color: #f3f3f3;
     }

     .form-mini-container{
         max-width: 315px;
         margin: 0 auto;
         font: normal 14px sans-serif;
         text-align: center;
         color: #5f5f5f;
     }

     .form-mini-container h1{
         color:  #4c565e;
         font-size: 24px;
         padding-bottom: 30px;
         border-bottom: 2px solid #6caee0;
         font-weight: bold;
         margin: 0;
     }

     .form-mini{
         box-sizing: border-box;
         padding: 40px;

         background-color:  #ffffff;
         box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
     }

     .form-mini .form-row{
         display: block;
         text-align: left;
         margin-bottom: 23px;
     }

     .form-mini input,
     .form-mini select{
         box-sizing: border-box;
         width: 240px;
         box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
         padding: 12px 18px;
         border: 1px solid #dbdbdb;
     }

     .form-mini input[type=radio],
     .form-mini input[type=checkbox]{
         box-shadow: none;
         width: auto;
     }

     .form-mini select{
         color: inherit;
         background-color: #ffffff;
     }

     .form-mini .form-checkbox span{
         margin-left: 5px;
     }

     .form-mini .form-checkbox input{
         width: auto;
     }

     .form-mini .form-radio-buttons > div{
         margin-bottom: 10px;
     }

     .form-mini .form-radio-buttons input{
         width: auto;
     }

     .form-mini .form-radio-buttons label span{
         margin-left: 8px;
     }

     .form-mini .form-last-row{
         margin: 35px auto 0;
     }

     .form-mini button{
         display: block;
         border-radius: 2px;
         background-color:  #6caee0;
         color: #ffffff;
         font-weight: bold;
         box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
         width: 100%;
         padding: 14px 22px;
         border: 0;
         cursor: pointer;
     }


     /* Placeholder color */

     .form-mini ::-webkit-input-placeholder {
         color:  #999;
     }

     .form-mini ::-moz-placeholder {
         color:  #999;
         opacity: 1;
     }

     .form-mini :-ms-input-placeholder {
         color:  #999;
     }

     
     @media (max-width: 600px) {

         .form-mini-container{
             margin-top: 0;
         }

     }

 </style>


  </head>

  <body>


  <div class="main-content">
<header>
    <h1 style="margin-left: 666px">Ticket Details</h1>
</header>
      <div class="form-mini-container">
      <table border="1">
        <tr>
            <td><b>Subject</b></td>
            <td><b>Created at</td>
            <td>Priority</td>
            <td>status</td>
            <td>Group ID</td>
            <td>Updated At</td>
            <td>Assignee ID</td>
            <td>Submitter ID</td>
            <td>Requester ID</td>

        </tr>
        <% for(var i=0; i < title.length; i++) { %>
        <tr>

            <td><%= title[i].subject %></td>
            <td><%= title[i].created_at %></td>
            <td><%= title[i].priority %></td>
            <td><%= title[i].status %></td>
            <td><%= title[i].group_id %></td>
            <td><%= title[i].updated_at %></td>
            <td><%= title[i].assignee_id %></td>
            <td><%= title[i].submitter_id %></td>
            <td><%= title[i].requester_id %></td>
        </tr>
        <% } %>
    </table>
      </div>
  </div>
  </body>
</html>
